# Working with different file formats

- JSON (java script object notation)
- CSV (Command Seperated Values)
- Excel
- Avro

![title](images/data_gen.jpeg)

As a data person you will deal with various type of data and it's important to learn how to handle these file formats

# Working in JSON files
***
Since its inception, JSON has quickly become the de facto standard for information exchange.

Chances are you’re here because you need to transport some data from here to there. Perhaps you’re gathering information through an API or storing your data in a document database.

One way or another, you’re up to your neck in JSON, and you’ve got to Python your way out.

## A (Very) Brief History of JSON


JSON stangs for JavaScript Object Notation was inspired by a subset of the JavaScript programming language dealing with object literal syntax.

Ultimately, the community at large adopted JSON because it’s easy for both humans and machines to create and understand.

### Look, it’s JSON!
    {
        "firstName": "Jane",
        "lastName": "Doe",
        "hobbies": ["running", "sky diving", "singing"],
        "age": 35,
        "children": [
            {
                "firstName": "Alice",
                "age": 6
            },
            {
                "firstName": "Bob",
                "age": 8
            }
        ]
    }
### Does this look similar to something?

YES! Python **dictionary!**


# Writing JSON files

In [1]:
import json

In [2]:
data = {
    "president": {
        "name": "Zaphod Beeblebrox",
        "species": "Betelgeusian"
    }
}

In [3]:
#Save Json data into Json file With open("file_name", "mode")
with open("data_file.json", "w") as write_file:
    json.dump(data, write_file)

Note that dump() takes two positional arguments:

   1. the data object to be serialized, and
   2. the file-like object to which the bytes will be written.

## Reading JSON files

In [4]:
with open("data_file.json", "r") as read_file:
    data = json.load(read_file)

In [5]:
data

{'president': {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}}

In [6]:
type(data)

dict

### You can also read JSON as DataFrame in Pandas

In [7]:
import pandas as pd

jsonStr = '''{"Index0":{"Courses": "Pandas","Discount": "1200"},
           "Index1":{"Courses": "Hadoop","Discount": "1500"},
           "Index2":{"Courses": "Spark","Discount": "1800"}
          }'''

# Convert JSON to DataFrame Using read_json()
df2 = pd.read_json(jsonStr, orient ='index')
print(df2)

       Courses  Discount
Index0  Pandas      1200
Index1  Hadoop      1500
Index2   Spark      1800

### Convert Dict To DF(DataFrame)

In [8]:
data['president']

{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}

In [9]:
import pandas as pd

df3 = pd.DataFrame.from_dict(data, orient ='index')

In [10]:
df3

                        name       species
president  Zaphod Beeblebrox  Betelgeusian

# Working with CSV files

A CSV file (Comma Separated Values file) is a type of plain text file that uses specific structuring to arrange tabular data.

It’s a plain text file that has data separated by commas!

    column 1 name,column 2 name, column 3 name
    first row data 1,first row data 2,first row data 3
    second row data 1,second row data 2,second row data 3
    ...

In [11]:
df = pd.read_csv('data/hrdata.csv', index_col='Name')

In [12]:
df.head()

               Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  03/15/14  50000.0                   10
John Cleese     06/01/15  65000.0                    8
Eric Idle       05/12/14  45000.0                   10
Terry Jones     11/01/13  70000.0                    3
Terry Gilliam   08/12/14  48000.0                    7

In [13]:
df = pd.read_csv('data/hrdata.csv', index_col='Name', parse_dates=['Hire Date'])

df

In [14]:
df.to_csv('data/hrdata_modified.csv')

## Working with Excel Files
Excel spreadsheets are one of those things you might have to deal with at some point. Either it’s because your boss loves them or because marketing needs them, and you might have to learn how to work with spreadsheets.

Many companies still prefer using Excel files for their data storage and analysis, as a data expert you should know how to handle these files programatically!

To work with Excel files we have package in python openpyxl

In [15]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\users\chintu\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: openpyxl in /opt/homebrew/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/homebrew/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

   ## Basics of Excel
![title](images/excel.png)

In [16]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [17]:
#Reading excel file

from openpyxl import load_workbook
workbook = load_workbook(filename="data/sample-xlsx-file.xlsx")
workbook.sheetnames
['Sheet 1']

['Sheet 1']

In [18]:
sheet = workbook.active

In [19]:
sheet

In [20]:
sheet.title

'Employee'

In [21]:
sheet["A1"]

In [22]:
sheet["A1"].value

'Name'

In [23]:
sheet["A2"].value

'Rajeev Singh'

In [24]:
sheet.cell(row=10, column=6)

In [25]:
sheet.cell(row=3, column=3).value

datetime.datetime(1965, 1, 13, 0, 0)

In [26]:
sheet["A1:C2"]

((<Cell 'Employee'.A1>, <Cell 'Employee'.B1>, <Cell 'Employee'.C1>),
 (<Cell 'Employee'.A2>, <Cell 'Employee'.B2>, <Cell 'Employee'.C2>))

In [27]:
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Email', 'Date Of Birth', 'Salary', 'Department', None)
('Rajeev Singh', 'rajeev@example.com', datetime.datetime(1992, 7, 21, 0, 0), 1500000.0, 'Software Engineering', None)
('John Doe', 'john@example.com', datetime.datetime(1965, 1, 13, 0, 0), 1300000.0, 'Sales', None)
('Jack Sparrow', 'jack@example.com', datetime.datetime(1986, 12, 19, 0, 0), 1000000.0, 'HR', None)
('Steven Cook', 'steven@example.com', datetime.datetime(1994, 5, 4, 0, 0), 1200000.0, 'Marketing', None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)

## You can read Excel file as DataFrame using Pandas

In [28]:
excel_df = pd.read_excel('data/sample-xlsx-file.xlsx')

In [29]:
excel_df

,Name,Email,Date Of Birth,Salary,Department
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000.0,Software Engineering
1,John Doe,john@example.com,1965-01-13,1300000.0,Sales
2,Jack Sparrow,jack@example.com,1986-12-19,1000000.0,HR
3,Steven Cook,steven@example.com,1994-05-04,1200000.0,Marketing

In [30]:
excel_df.to_excel('data/sample-xlsx-file-modifeid.xlsx')

# Working with AVRO
Apache Avro is a data serialization format. We can store data as .avro files on disk.

Avro files are typically used with Spark but Spark is completely independent of Avro.

Avro is a row-based format that is suitable for evolving data schemas. One benefit of using Avro is that schema and metadata travels with the data.

If you have an .avro file, you have the schema of the data as well.

The Apache Avro Specification provides easy-to-read yet detailed information.

In [31]:
pip install avro-python3

Requirement already satisfied: avro-python3 in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (1.10.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\users\chintu\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [32]:
# Python 3 with `avro-python3` package available
import copy
import json
import avro
from avro.datafile import DataFileWriter, DataFileReader
from avro.io import DatumWriter, DatumReader

In [33]:
# Note that we combined namespace and name to get "full name"
schema = {
    'name': 'avro.example.User',
    'type': 'record',
    'fields': [
        {'name': 'name', 'type': 'string'},
        {'name': 'age', 'type': 'int'}
    ]
}

# Parse the schema so we can use it to write the data
schema_parsed = avro.schema.Parse(json.dumps(schema))

In [34]:
schema_parsed

In [35]:
# Write data to an avro file
with open('users.avro', 'wb') as f:
    writer = DataFileWriter(f, DatumWriter(), schema_parsed)
    writer.append({'name': 'Pierre-Simon Laplace', 'age': 77})
    writer.append({'name': 'John von Neumann', 'age': 53})
    writer.close()

In [36]:
# Read data from an avro file
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    users = [user for user in reader]
    reader.close()

print(f'Schema that we specified:\n {schema}')
print(f'Schema that we parsed:\n {schema_parsed}')
print(f'Schema from users.avro file:\n {schema_from_file}')
print(f'Users:\n {users}')

Schema that we specified:
 {'name': 'avro.example.User', 'type': 'record', 'fields': [{'name': 'name', 'type': 'string'}, {'name': 'age', 'type': 'int'}]}
Schema that we parsed:
 {"type": "record", "name": "User", "namespace": "avro.example", "fields": [{"type": "string", "name": "name"}, {"type": "int", "name": "age"}]}
Schema from users.avro file:
 {'type': 'record', 'name': 'User', 'namespace': 'avro.example', 'fields': [{'type': 'string', 'name': 'name'}, {'type': 'int', 'name': 'age'}]}
Users:
 [{'name': 'Pierre-Simon Laplace', 'age': 77}, {'name': 'John von Neumann', 'age': 53}]

##    Reading Avro Using Pandas

Avro format simply requires a schema and a list of records. We don’t need a dataframe to handle Avro files.

However, we can write a `pandas` dataframe into an Avro file or read an Avro file into a `pandas` dataframe.

To begin with, we can always represent a dataframe as a list of records and vice-versa

In [37]:
pip install pandavro

Requirement already satisfied: pandavro in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (1.7.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: fastavro~=1.5.1 in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (from pandavro) (1.5.4)
Requirement already satisfied: numpy>=1.15.4 in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (from pandavro) (1.19.5)
Requirement already satisfied: pandas>=1.1 in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (from pandavro) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.1->pandavro) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.1->pandavro) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\chintu\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.1->pandavro) (1.15.0)

WARNING: You are using pip version 21.1.3; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\users\chintu\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [43]:

import copy
import json
import pandas as pd
import pandavro as pdx
from avro.datafile import DataFileReader
from avro.io import DatumReader

In [44]:
# Data to be saved
users = [{'name': 'Pierre-Simon Laplace', 'age': 77},
         {'name': 'John von Neumann', 'age': 53}]
users_df = pd.DataFrame.from_records(users)
print(users_df)

                   name  age
0  Pierre-Simon Laplace   77
1      John von Neumann   53

In [45]:
pdx.to_avro('data/users_test.avro', users_df)

In [41]:
# Read the data back
users_df_redux = pdx.from_avro('data/users_test.avro')
print(type(users_df_redux))
# <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [42]:
# Check the schema for "users.avro"
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    reader.close()
print(schema_from_file)

{'type': 'record', 'name': 'User', 'namespace': 'avro.example', 'fields': [{'type': 'string', 'name': 'name'}, {'type': 'int', 'name': 'age'}]}